# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Environment
.env
.env.*
*.env

# Database
db.sqlite3
*.sqlite3

# Django
media/
staticfiles/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
